<section class="contato-area" id="contato">
  <div class="myContainer">
      <div class="thecontainer">
        <div class="contact-box">
          <div class="left"></div>
          <form [formGroup]="contactForm" class="right" (submit)="sendMail()">
            <h2>Contato</h2>
            <input 
              type="text"
              [ngClass]="[
                true ? 'field' : '',
                (contactForm.get('name').dirty && contactForm.get('name').errors?.required) ? 'field-invalid' : ''
              ]"
              placeholder="Seu nome"
              formControlName="name"
            >
            <ee-invalid-feedback
              *ngIf="contactForm.get('name').dirty && contactForm.get('name').errors?.required"
              text="Campo de preenchimento obrigaótio*">
            </ee-invalid-feedback>
            <ee-loading *ngIf="showOverlay"></ee-loading>

            <input
              type="email"
              [ngClass]="[
                true ? 'field' : '',
                (contactForm.get('email').dirty && contactForm.get('email').errors?.required) ? 'field-invalid' : ''
              ]"
              placeholder="e-mail"
              formControlName="email"
              ngModel email
            >
            <ee-invalid-feedback
              *ngIf="contactForm.get('email').dirty && contactForm.get('email').errors?.required"
              text="Campo de preenchimento obrigaótio*">
            </ee-invalid-feedback>
            <ee-invalid-feedback
              *ngIf="contactForm.get('email').errors?.email"
              text="E-mail invalido!">
            </ee-invalid-feedback>

            <input 
              type="numeric"
              [ngClass]="[
                true ? 'field' : '',
                (contactForm.get('phone').dirty && contactForm.get('phone').errors?.required) ? 'field-invalid' : ''
              ]"
              placeholder="telefone"
              formControlName="phone"
            >
            <ee-invalid-feedback
              *ngIf="contactForm.get('phone').dirty && contactForm.get('phone').errors?.required"
              text="Campo de preenchimento obrigaótio*">
            </ee-invalid-feedback>

            <textarea 
              [ngClass]="[
                true ? 'field' : '',
                (contactForm.get('description').dirty && contactForm.get('description').errors?.required) ? 'field-invalid' : ''
              ]" 
              placeholder="Olá..."
              formControlName="description"
            ></textarea>
            <ee-invalid-feedback
              *ngIf="contactForm.get('description').dirty && contactForm.get('phone').errors?.required"
              text="Campo de preenchimento obrigaótio*"
            >
            </ee-invalid-feedback>
            <button
              [disabled]="contactForm.invalid"
              type="submit"
              class="mybtn"
            >
              Enviar  <i class="fas fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>
  </div>
</section>