<section class="contato-area" id="contato">
  <div class="myContainer">
      <div class="thecontainer">
        <div class="contact-box">
          <div class="left"></div>
          <form [formGroup]="contactForm" class="right" (submit)="sendMail()">
            <h2>Contato</h2>
            <input 
              type="text"
              class="field"
              placeholder="Seu nome"
              formControlName="name"
            >
            <ee-loading *ngIf="showOverlay"></ee-loading>
            <input
              type="email"
              class="field"
              placeholder="e-mail"
              formControlName="email"
            >
            <input 
              type="text"
              class="field"
              placeholder="telefone"
              formControlName="phone"
            >
            <textarea 
              class="field area" 
              placeholder="Olá..."
            ></textarea>
            <button type="submit" class="mybtn">Enviar  <i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
  </div>
</section>