<!-- Footer -->
<!-- <footer class="page-footer font-small cyan darken-3"> -->
<footer class="page-footer bg-etiel container col-12">
    <!-- Footer Elements -->
    <div class="">
        <!-- Grid row-->
        <div class="row align-items-end row-cols-1 row-cols-md-3">
            <!-- Grid column -->
            <div class="col">
                <address>
                    <strong>ETIEL Engenharia</strong><br>
                    Rua Pedro Escobar, 1204 - CJ-1, Grajaú<br>
                    São Paulo, SP<br>
                    <strong>Tel:</strong> (11) 95130-7313<br>
                    <strong>Email:</strong><a style="color:black" href="etiel@etielengenharia.com.br"> etiel@etielengenharia.com.br</a>
                </address>
            </div>
            <!-- Copyright -->
            <div class="col footer-copyright text-center px-3 copyright">
                <a href="http://www.paccode.com.br" class="link-logo">
                    <img src="./assets/image/logo_paccode.png" alt="" style="position: relative; height: 120px;">
                </a>
                
                <p>© 2020 Copyright:
                    <a href="http://www.paccode.com.br"> paccode.com.br</a>
                </p>
            </div>
            <div class="col py-2 mt-2 text-center">
                <div class="mb-1">
                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com/aetielengenharia/">
                        <span class="icon-etiel">
                            <i class="fa fa-facebook fa-lg mr-md-5 mr-3 fa-2x"></i>
                        </span>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/etiel_engenharia/">
                        <span class="icon-etiel">
                            <i class="fa fa-instagram fa-lg mr-md-5 mr-3 fa-2x"></i>
                        </span>
                    </a>
                    <!--WhatsApp-->
                    <a class="wp-ic" href="https://api.whatsapp.com/send?phone=5511951307313">
                        <span class="icon-etiel">
                            <i class="fa fa-whatsapp fa-lg mr-md-5 mr-3 fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
            <!-- Copyright -->
            <!-- Grid column -->
        </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
</footer>
<!-- Footer -->