<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 fixed-bottom" style="background-color: orange;">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12 py-1">
          <div class="mt-2 flex-center">
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/aetielengenharia/" target="_blank">
              <i class="fa fa-facebook-f fa-lg white-text mr-md-4 mr-3 fa-2x"></i>
            </a>
            <!--whatsapp-->
            <a class="li-ic" href="https://api.whatsapp.com/send?phone=5511951307313" target="_blank">
              <i class="fa fa-whatsapp fa-lg white-text mr-md-4 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/etiel_engenharia/" target="_blank">
              <i class="fa fa-instagram fa-lg white-text mr-md-4 mr-3 fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://etielengenharia.com.br/"> Etielengenharia.com.br</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->