<!-- Footer -->
<!-- <footer class="page-footer font-small cyan darken-3"> -->
<footer class="page-footer bg-secondary">
    <!-- Footer Elements -->
    <div class="container">
        <!-- Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-xs-12 col-md-3 py-2 mt-2">
                <div class="mb-1 flex-center">
                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com/aetielengenharia/">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/etiel_engenharia/">
                    <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <!--WhatsApp-->
                    <a class="wp-ic" href="https://api.whatsapp.com/send?phone=5511951307313">
                        <i class="fa fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>

             <!-- Copyright -->
            <div class="footer-copyright text-center col-xs-12 col-md-9 py-2 mt-3">© 2020 Copyright:
                <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        <!-- Grid column -->
        </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->
  
   
</footer>
<!-- Footer -->