<section id="trabalhe-conosco" class="trabalhe-conosco-area">
  <div class="thecontainer">
    <div class="myContainer">
      <!-- <h2>Trabalhe conosco</h2> -->
      <div class="myCard">
        <div class="imgBx">
          <img src="assets/img/jpg/work-with-us.jpg" alt="">
        </div>
        <div class="myContentBx">
          <div class="myContent">
            <h2>Trabalhe Conosco</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quasi nobis, dolor dolorum voluptas minus.
              Eveniet tenetur autem consequatur!</p>
            <a [routerLink]="['/trabalhe-conosco/enviar-cv']" [routerLinkActive]="['active']"> Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
