<section id="pericia" [ngClass]="['pericia-area']">
  <h2>Pericias</h2>
  <div [ngClass]="['pericia-container']">
    <h3>Episode IV</h3>
    <h4>A NEW HOPE</h4>
    <p>
      It is a period of civil war, Rebel spaceships, striking from a hidden base,
      habe won their first victory against the evil Galactic Empire.
      During the battle, Rebel spies managed to steal secret plans to the Empire's
      ultimate weapon, the DEATH STAR, an armored space station with enough power
      to destroy an entire planet.
      Pursued by the Empire's sinister agents, Princess Leia races home aboard her
      starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy
    </p>
    <i class="float-left fab fa-old-republic"></i>
    <p>
      The galaxy is in a period of civil war. Rebel spies have stolen plans to the Galactic Empire's Death Star, a
      moon-sized space station capable of destroying an entire planet. Princess Leia, secretly one of the Rebellion's
      leaders, has obtained its schematics, but her starship is intercepted by an Imperial Star Destroyer under the
      command of the ruthless Sith Lord Darth Vader, an agent to the Empire. Before she is captured, Leia hides the
      plans in the memory of astromech droid R2-D2, who, along with protocol droid C-3PO, flees in an escape pod to the
      desert planet Tatooine.
    </p>
    <i class="float-right fab fa-galactic-republic fa-spin"></i>
    <p>
      The droids are captured by Jawa traders, who sell them to moisture farmers Owen and Beru Lars and their nephew
      Luke Skywalker. While cleaning R2-D2, Luke accidentally triggers part of a holographic recording of Leia, in which
      she requests help from Obi-Wan Kenobi. The only Kenobi whom Luke knows is “Old Ben” Kenobi, an elderly hermit. He
      asks his uncle if he knows anything, but his uncle curtly drops the subject. The next morning, Luke finds R2-D2
      missing, and while searching for him, encounters Old Ben. Ben, who reveals his true name to be Obi-Wan, tells Luke
      of his days as a Jedi Knight, former peacekeepers of the Galactic Republic who derived their power from an energy
      field called the Force until they were wiped out by the Galactic Empire. Contrary to what his uncle has told him,
      Luke learns that his father fought alongside Obi-Wan as a Jedi Knight until Vader, a former pupil of Obi-Wan's,
      turned to the dark side of the Force and murdered him. Obi-Wan presents Luke with his father's old weapon, a
      lightsaber.
    </p>
    <i class="float-left fab fa-galactic-senate"></i>
    <p>
      R2-D2 plays Leia's message for Obi-Wan, in which she begs him to take the Death Star plans to her home planet of
      Alderaan and give them to her father for analysis. Obi-Wan invites Luke to accompany him to Alderaan and learn the
      ways of the Force, but Luke declines, saying his aunt and uncle need him. Returning home, however, he finds
      Imperial stormtroopers have killed his aunt and uncle and destroyed their farm in their search for the droids,
      leaving Luke no choice but to accept Obi-Wan's invitation. They travel to a cantina in Mos Eisley, where they hire
      smuggler Han Solo to transport them. Han is intercepted by Greedo, a bounty hunter working for local mobster Jabba
      the Hutt, to whom Han owes money; the confrontation ends with Han killing Greedo. Obi-Wan, Luke, R2-D2 and C-3PO
      flee Tatooine, with Han and his Wookiee co-pilot Chewbacca on their ship the Millennium Falcon.
    </p>
  </div>
</section>