.navbar-etiel{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #efefef;
  width: 100%;
  height: 70px;
  // z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.logo {
  flex: 1 1 auto; /*Estudar porque*/
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: 35px;
}
.logo img {
  margin: 0;
  padding: 0;
}
.nav-etiel{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-top: 1%;
  margin-right: 22.5%;
}
.nav-etiel a {
  margin: 10px;
  color: #000!important;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-etiel a:hover{
  color: #cf7405!important;
}

.nav-servicos{
  display: none;
  position: absolute;
  background-color: #efefef;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.63);
  list-style: none;
  margin: 0;
  padding: 0px;
  z-index: 1;
}

.nav-servicos li a{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-dropdown:hover .nav-servicos {
  display: block;
}



.nav-active{
  transform: translateX(0%)!important;
}

.burguer {
  display: none;
  cursor: pointer;
}

.burguer div{
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.8s ease;
}

.burguer-close .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burguer-close .line2 {
  opacity: 0;
}
.burguer-close .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px){
  body {
    overflow-x: hidden!important;
  }
  // .navbar-etiel{
  //   width: 100vw;
  // }
  ul.nav-etiel {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 6vh;
    margin-right: 0;
    padding: 0;
    justify-content: space-evenly;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  ul.nav-etiel li{
    opacity: 0;
  }
  .burguer {
    display: block;
  }
}

@keyframes navLinkFade{
  from{
    opacity: 0!important;
    transform: translateX(50%);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}