<div *ngIf="!isEmBreve()" id="navbar" 
    [ngClass]="[
        true ? 'navbar-etiel' : '',
        home ? 'navbar-transparent' : ''
        ]"
    (scroll)="onWindowScroll($event);">
    <a href=" #" class="logo">
        <img [src]="LogoImg" alt="">
    </a>
    <ul [ngClass]="['nav-etiel']">
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li [ngClass]="['nav-dropdown']">
            <a class="" [routerLink]="['/home']" [fragment]="'servicos'">Serviços</a>
            <ul [ngClass]="['nav-servicos']">
                <li><a class="" [routerLink]="['/servicos/pericia']">Perícias</a></li>
                <li><a class="" [routerLink]="['/servicos/avaliacao']">Avaliações</a></li>
            </ul>
        </li>
        <li>
            <a class="" [routerLink]="['/home']" [fragment]="'nossa-historia'">Nossa História</a>
        </li>
        <li>
            <a class="" [routerLink]="['/home']" [fragment]="'noticias'">Notícias</a>
        </li>
        <li>
            <a class="" [routerLink]="['/home']" [fragment]="'trabalhe-conosco'">Trabalhe Conosco</a>
        </li>
        <li>
            <a class="" [routerLink]="['/home']" [fragment]="'contato'">Contato</a>
        </li>

        <!-- <li *ngFor="let menu of menus" class="">
            <a class="" [routerLink]="['/home']" [fragment]="menu.href">{{ menu.title }}</a>
        </li> -->
    </ul>
    <div [ngClass]="['burguer']">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</div>