<div *ngIf="!isEmBreve()" id="navbar" class="navbar-etiel" [ngClass]="[
        true ? 'navbar-etiel' : '',
        home ? 'navbar-transparent' : ''
        ]" (scroll)="onWindowScroll($event);">
    <a href=" #" class="logo">
        <img [src]="LogoImg" alt="">
    </a>
    <ul class="nav-etiel">
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li *ngFor="let menu of menus" class="">
            <a class="" [routerLink]="['/home']" [fragment]="menu.href">{{ menu.title }}</a>
        </li>
    </ul>
    <div class="burguer">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</div>