.font-etiel{
    color: #ff7f00;
}
.img-carousel {
    max-height: 500px;
}

 .etiel-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 60%;
	border-radius: 5px;
	position: absolute;
	top: 70%;
	left: 40%;
	transform: translate(-40%, -40%);
	transition: .3s;
}


.section-servico{
	position: relative;
	display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: left;
  flex-wrap: wrap;
	height: 700px;
  /* width: 100%;
	padding: 0; */
}

.section-servico h2 {
	margin-bottom: 0;
	padding: 0;
}

.section-servico #carouselFade {
	width: 100%;
	padding: 0;
	margin-top: 0;
}

.section-servico img {
	position: unset	;
}