<section class="container mb-5 mt-5 col-xl-12" id="servicos">
    <h2>Serviços</h2>

    <div class="row mt-3">
        <div *ngFor="let servico of servicos" class="col-sm-6 col-md-4 col-lg-3">
            <figure class="img-thumbnail">
                <img src="{{ servico.img }}" alt="{{ servico.titulo }}" class="img-fluid">
                <figcaption  class="figure-caption">
                    <h4>{{ servico.titulo }}</h4>
                    <p>{{ servico.descricao }}</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>