.font-etiel{
    color: #ff7f00;
}

.etiel-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 60%;
	border-radius: 5px;
	position: absolute;
	top: 70%;
	left: 40%;
	transform: translate(-40%, -40%);
	transition: .3s;
}

.img-carousel {
    max-height: 500px;
}