<nav class="navbar-custom fixed-top">
  <a class="logo " href="#">
    <img class="" src="./assets/image/logo-150x50.png" alt="Logo ETIEL Engenharia">
  </a>
  <ul class="navbar-nav-custom">
    <li class="">
      <a class="" href="#">Home</a>
    </li>
    <li class="">
      <a class="" href="#servicos">Serviços</a>
    </li>
    <li class="">
      <a class="" href="#sobre-nos">Nossa História</a>
    </li>
    <li class="">
      <a class="" href="#noticias">Notícias</a>
    </li>
    <li class="">
      <a class="" href="#trabalhe-conosco">Trabalhe conosco</a>
    </li>
    <li class="">
      <a class="" href="#contato">Contato</a>
    </li>
  </ul>
</nav>
<picture class="banner-area">
  <img id="homeImg" src="assets/image/capa.jpg" class="img-fluid home-img" alt="Home ETIEL Engenharia" style="margin-top: 5px;">
</picture>