<section class="container my-5 col-xl-12" id="sobre-nos">
    <h2>Nossa História</h2>
    <div class="row">
        <img class="img-responsive col-sm-6 col-md-6" src="./assets/image/cabecalho-3.jpg" alt="Sobre nós">
        <div class="col-sm-6 col-md-6">
            <div class="accordion" id="accordionSobre">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h3 class="mb-0">
                                Como Surgimos
                            </h3>
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSobre">
                        <div class="card-body text-justify">
                            Fundada em Julho de 2019 a ETIEL Engenharia foi criada com o propósito de ser um diferencial no mercado da Engenharia Civil.  Partindo do pressuposto de que, as constantes evoluções no segmento da construção civil e a necessidade de profissionais capacitados fizeram com que a criação da ETIEL Engenharia fosse enfim realizada. O desejo de seu fundador em transformar a ETIEL Engenharia numa referência e consolidar a marca no mercado de Perícias de Engenharia e Avaliações de Imóveis, foram alguns dos combustíveis que impulsionaram essa criação.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h3 class="mb-0">
                                Fundador
                            </h3>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSobre">
                        <div class="card-body text-justify">
                            Engº Rodrigo Leite especialista em Perícias de Engenharia e Avaliações de Imóveis pela Universidade Presbiteriana Mackenzie em parceria com o IBAPE/SP. Atuante no mercado da construção civil desde 2010 nas áreas de Projetos de estruturas metálicas, Orçamentos de obras, Gerenciamento de obras, Perícias de Engenharia e Avaliações de Imóveis. Desenvolveu sua carreira como Engenheiro nas principais atividades voltadas ao mercado da construção civil, sendo lembrado por onde passou como um profissional extremamente competente e conhecedor do assunto que o envolve. Durante anos de sua carreira atuou em conjunto com as principais instituições financeiras e incorporadoras do ramo. Ao deparar-se com a possibilidade de empregar tais conquistas profissionais em um novo conceito de empresa de Engenharia, não pensou duas vezes e fundou a ETIEL Engenharia. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>