/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:wght@400;500;700&display=swap');

/* custom.scss */    

/* import the necessary Bootstrap files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* -------begin customization-------- */   

/* simply assign the value */ 
// $body-bg: #eeeeee;
$orange: #ff8c00;
$grey: #efefef;
/* or, use an existing variable */
$theme-colors: (
  primary: $grey
);
/* -------end customization-------- */  

/* finally, import Bootstrap to set the changes! */
@import "bootstrap";



:root {
  /* font-size: 16px; */
  // font-family: 'Gugi', cursive!important;
  font-family: 'Roboto', sans-serif!important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  /* background: #d4d7de; */
  background: #ff8c00;
}