.footer{
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0px;
  background-color: #efefef;
  display: flex;
  // position: absolute;
  width: 100%;
  height: 150px;
  // border: 2px solid #E02140;
}

.footer-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 60px 0 60px;
  width: 100%;
  // border: 2px solid
}

.footer-quad{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  // border: 2px solid #E02140;
}

.adress {
  text-align: left;
  margin-left: 10px;
  justify-content: flex-start;
  width: 100%;
  // border: 2px solid #E02140;
}

.footer-quad .logo {
  width: 60%;
}
.social-container{
  justify-content: flex-end;
}

.social-media{
  display: flex;
  position: relative;
  width: 210px;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  // border: 2px blue solid;
}
.social-media i {
  top: 15px;
  color: #ff8c00;
  background-color: rgba(0,0,0,0);
  text-align: left;
  font-size: 40px;
  padding: 5px;
  margin:10px;
  // border: 2px red solid;
}

.footer-newsletter{
  width: 50%;  
}

.field-mail{
  border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px;
}

.field-button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
	background-color: #ff8c00;
	color: #FFF;
	cursor: pointer;
}

.field-button,
.field-mail {
	outline: 0;
	border: 1px solid #ff8c00;
	box-sizing: border-box;
	font-size: 16px;
}
.copyright {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.copyright img{
  width: 20px;
  margin: 2px;
}

@media screen and (max-width: 768px){
  .footer-container {
    flex-direction: column;
  }
  .social-container{
    justify-content: center;
    align-items: center;
  }
}