#footer{
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0px;
  background-color: #efefef;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  // border: 2px solid
}

.footer-quad{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  // border: 2px solid #E02140;
}

.adress {
  text-align: left;
}

.footer-quad .logo {
  width: 60%;
}

.social-media{
  justify-content: space-between;
}
.social-media i {
  color: #ff8c00;
  background-color: rgba(0,0,0,0);
  font-size: 3rem;
  margin: 10px;
}

.copyright > * {
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 2px solid;
}